@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


input {
  width: calc(100vw/2);
  border-radius: 12px;
  padding: 9px;
  margin: 5px;
  text-align: center;
}

select {
  width: calc(100vw/2);
  border-radius: 12px;
  padding: 9px;
  margin: 5px;
  text-align: center;
}

form > button {
  color: white;
  background-color: blue !important;
  padding: 15px;
  border-radius: 12px;
  font-weight: 900;
  width: 500px;
}

#checkbox {
  margin-right: 0px;
  width: 3%;
}

label {
    width: 100%;
    color: white;
}

h1 {
 color: white;
  }
